PersonWebServiceHost/Connected Services/PersonService/PersonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/encoded" elementFormDefault="qualified" targetNamespace="http://tempuri.org/encoded" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:complexType name="ArrayOfPerson">
    <xs:complexContent mixed="false">
      <xs:restriction xmlns:q1="http://schemas.xmlsoap.org/soap/encoding/" base="q1:Array">
        <xs:attribute xmlns:a="http://schemas.xmlsoap.org/wsdl/" a:arrayType="tns:Person[]" ref="q1:arrayType" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="LastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>